.searchBar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.content_icon{
    display: flex;
    position: relative;
    align-items: center;
    min-height: 3em; 
    min-width: 80%;
    margin-bottom: 8px;
    color: var(--color-input);
}
.input{
    min-width: 100%;
    min-height: 3em;
    font-size: small;
    padding-left: 2%;
    border: none;
    background-color: var(--color-input-bg);
    transition: .4s;
    scale: 1;
    border-radius: .2em;
    font-size: 1em;
}
input:focus{
    border: none;
    outline: none;
    scale: 1.05;
    transition: .4s;
}
.icon{
    position: absolute;
    right: 1em;
    scale: 1.5;
}

.btn{
    border: none;
    outline: none;
    border-radius: .2em;
    padding: 2%;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-btn-search);
}
