.searchBar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    min-width: 80%;
    min-height: 3em;
    font-size: small;
    padding-left: 2%;
    margin-bottom: 8px;
    border: none;
    background-color: rgba(51, 51, 51, 0.212);
    transition: .4s;
    scale: 1;
    border-radius: .2em;
    font-size: 1em;
}
input:focus{
    border: none;
    outline: none;
    scale: 1.05;
    transition: .4s;
}
.btn{
    border: none;
    outline: none;
    border-radius: .2em;
    padding: 2%;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-btn-search);
}
