.cards{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .cards{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}